##
######################################################
#
# This configuration file configures your environment
#
# Use Wisely !
#
# Author: Gaurav Malhotra (gaurav@level5websites.com)
#
#####################################################
##

local_ip_address = 192.168.33.44
virtual_box_name = zf2-centos